// 1. Colors

$purple: #5c2d51;
$blue: #0b99bd;
$yellow: #fcdf15;
$red: #d50e53;

// 2.Fonts

$quote-font: 'Gloria Hallelujah';
$text-font: 'Raleway';
$menu-font: 'Indie Flower';

.fullscreen {height: 100vh; width: 100vw; overflow-y: auto; position: relative;}